.home:hover, .about:hover {
  background-color: blue;
  cursor: pointer;
}
.home {
  left: 40%;
}
.about {
  left: 50%;
}

div > button {
  background-color: red;
  position: absolute;
  display: inline-grid;
  color: white;
  border: none;
  margin: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
