p {
  display: inline-block;
  vertical-align: top;
  color: #EECC3A;
  font-size: xx-large;
}

.nav-link.active:hover {
  background-color: red;
}

.nav-link.active {
  background-color: blue;
}

.nav-item {
  margin-left: 10px;
}

.nav.nav-pills {
  position: center;
 }
