<div>
  <img src='../../../assets/images/statyba2.jpg' class="img-fluid" alt="...">
  <!-- <img src='../../../assets/images/statyba1.jpg' class="aria-current" alt="..."> -->

  <!-- <img src="favicon.png">
  <p style="padding-left: 20px">LIETUVOS STATYBININKŲ ASOCIACIJA</p>
  <a [routerLinkActive]="['active_button']" [routerLink]="['/home']">Home</a>&nbsp; -->
</div>

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item"><a [routerLinkActive]="['active_button']" [routerLink]="['/home']" class="nav-link active">Home</a></li>
      <li class="nav-item"><a [routerLinkActive]="['active_button']" [routerLink]="['/about']" class="nav-link active">About</a></li>
    </ul>
  </header>
</div>
