p {
  display: inline-block;
  vertical-align: top;
  color: #EECC3A;
  font-size: xx-large;
}

/* .active_button:hover {
} */

.active_button {
  background-color: blue;
}

.active_button:hover {
  background-color: blueviolet;
}

ul
